.show_large_whosale-wrap {
    position:relative;
    display:block;
}

.show_large_whosale-text {
    display: none;
    background: #fff none repeat scroll 0 0;
    border: 2px solid #637b93;
    color: #3a3a3a;
    font-size: 13px;
    min-width: 230px;
    padding: 10px;
    position: absolute;
    right: -38px;
    top: 37px;
    z-index: 2147483647;   
}

.triangle {
    border-bottom: 15px solid #637b93;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    position: absolute;
    right: 110px;
    top: -16px;
    width: 0;
}

.prepayment_summ span i{
  display: inline-block;
  width: 7px;
  height: 9px;
  overflow: hidden;
  background: url('/img/rub.png') no-repeat right center transparent;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  background-size: contain;
}

.predoplata {
    text-align: center;
    color:white;
    width:100px;
}

.cart-button-detail {
    width:100px;
}

.prepayment_summ  .base_prise_value input {
    width:100px;
    overflow:hidden;
}

.predoplata:hover {
    cursor:pointer;
}